PORT=8080
ENVIRONMENT=development
COOKIE_SECURE=false

DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=123456
DB_NAME=inventory_db

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

ACCESS_TOKEN_SECRET=your_secret_key
REFRESH_TOKEN_SECRET=your_secret_key

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=myuser
TEST_DB_PASSWORD=123456
TEST_DB_NAME=test_inventory_db
TEST_VERBOSE=true

REDIS_HOST=redis
REDIS_PORT=6379

RATE_LIMIT_BOT_MAX=1000
RATE_LIMIT_USER_MAX=60